body {
    /* background-color: rgb(0, 0, 35); */
    /* color: #FFFFFF; */
    background-color: rgb(255, 255, 255);
    color: #000000;
    font-family: Arial, sans-serif;
}

br {
    margin: 5px 0px;
}

#sketch-container{
    height: 150px;
    width: 100%;
}

details {
    margin: 20px;
}

summary {
    margin: 20px 40px 10px 40px;
    padding: 5px;
    /* border: 2px solid white; */
    border: 2px solid black;
    border-radius: 35px;
    cursor: pointer;

    text-align: center;
    font-size: 30px;
    /* color: white; */
    color: black;
}

.project-info {
    margin: 0px 50px 0px 50px;
    padding: 5px 10px 10px 10px;

    font-size: 21px;
    line-height: 1.3;
    /* text-align: center; */
}

.media-row {
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
    height: 20vw;
}

.pdf-div, .video-div {
    height: 100%;
}

.img-div {
    height: 100%;
    margin: 0 10px 0 10px;
}

.pdf-frame {
    height: 100%; 
    margin: 0px 10px 0px 10px;
}

.vid-frame {
    height: 100%;
    margin: 0px 10px 0px 10px;
}

.img-frame {
    height: 100%;
    width: auto;
}

.project-note {
    margin: 15px 0px;
    font-style: italic;
}